 <div class=" container text-center mx-auto my-5  ">
    <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mx-auto ">
          <button type="button" class="btn btn-dark mx-1" routerLink="/home"  routerLinkActive="active" >1</button>
          <button type="button" class="btn btn-dark mx-1" routerLink="/page2" routerLinkActive="active" >2</button>
          <button type="button" class="btn btn-dark mx-1" routerLink="/page3" routerLinkActive="active" >3</button>
          <button type="button" class="btn btn-dark mx-1" routerLink="/page4" routerLinkActive="active" >4</button>
          <button type="button" class="btn btn-dark mx-1" routerLink="/page5" routerLinkActive="active">5</button>
        
      </div>
 </div>